.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: #befa00;
    width: 440px;
    margin: 10px auto;
    border-radius: 5px;
}
  
.header h2 {
    font-size: 2.3rem;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-bottom: 10px;
}
  
.footer {
    background-color: rgb(217, 217, 217);
    text-align: center;
    color: grey;
    padding: 10px 0;
    margin-top: 30px;
}

.container {
    min-height: 1000px;
}
  
@media (max-width: 600px) {
    .header {
      width: 320px;
    }
}